
body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    margin: 2em;
}

a {
    color: #000;
}

.return ::before {
    content: '&#x261C;';
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
